openapi: 3.1.0
info:
  title: Fulcrum Core API
  description: A comprehensive cloud infrastructure management system designed to orchestrate and monitor distributed cloud resources across multiple providers.
  version: 1.0.0
  contact:
    name: Fulcrum Project
    url: https://fulcrumproject.org
  license:
    name: Apache License 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
servers:
  - url: https://api.fulcrum.testudosrl.dev/api/v1
    description: Development server
security:
  - BearerAuth: []
tags:
  - name: Participants
    description: Cloud service participant management
  - name: Agents
    description: Agent and agent type management
  - name: Services
    description: Service, service type, service group management and service pools
  - name: Jobs
    description: Job queue and processing
  - name: Keycloak Users
    description: Keycloak user management
  - name: Metrics
    description: Metrics collection and management
  - name: Event
    description: Event logging
  - name: Tokens
    description: Authentication token management
  - name: Vault
    description: Secure secret storage and retrieval
paths:
  /agent-types:
    get:
      operationId: agentTypesList
      summary: List agent types
      tags:
        - Agents
      description: Retrieves a paginated list of agent types
      x-auth-permissions:
        - role: admin
          permission: all agent types
        - role: participant
          permission: all agent types
        - role: agent
          permission: all agent types
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: pageSize
          in: query
          schema:
            type: integer
            default: 10
        - name: sort
          in: query
          schema:
            type: string
          description: 'Sort field. Prefix with ''+'' for ascending or ''-'' for descending. Default is ascending. Supported fields: name'
          example: +name
        - name: name
          in: query
          schema:
            type: array
            items:
              type: string
          description: Filter by agent type name (can specify multiple values)
      responses:
        '200':
          description: A paginated list of agent types
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PageRes'
                  - type: object
                    properties:
                      items:
                        type: array
                        items:
                          $ref: '#/components/schemas/AgentTypeRes'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      operationId: agentTypesCreate
      summary: Create an agent type
      tags:
        - Agents
      description: Creates a new agent type with optional service types
      x-auth-permissions:
        - role: admin
          permission: all agent types
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAgentTypeReq'
      responses:
        '201':
          description: Agent type created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentTypeRes'
        '400':
          description: Invalid request body or validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
        '403':
          description: Administrator access required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
        '409':
          description: Agent type with same name already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
  /agent-types/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/properties.UUID'
    get:
      operationId: agentTypesGet
      summary: Get an agent type
      tags:
        - Agents
      description: Retrieves a specific agent type by ID
      x-auth-permissions:
        - role: admin
          permission: all agent types
        - role: participant
          permission: all agent types
        - role: agent
          permission: all agent types
      responses:
        '200':
          description: The agent type details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentTypeRes'
        '404':
          description: Agent type not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
    patch:
      operationId: agentTypesUpdate
      summary: Update an agent type
      tags:
        - Agents
      description: Partially updates an agent type (PATCH semantics)
      x-auth-permissions:
        - role: admin
          permission: all agent types
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAgentTypeReq'
      responses:
        '200':
          description: Agent type updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentTypeRes'
        '400':
          description: Invalid request body or validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
        '403':
          description: Administrator access required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
        '404':
          description: Agent type not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
        '409':
          description: Agent type with same name already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
    delete:
      operationId: agentTypesDelete
      summary: Delete an agent type
      tags:
        - Agents
      description: Deletes an agent type if no agents depend on it
      x-auth-permissions:
        - role: admin
          permission: all agent types
      responses:
        '204':
          description: Agent type deleted successfully
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
        '403':
          description: Administrator access required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
        '404':
          description: Agent type not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
        '409':
          description: Cannot delete agent type with dependent agents
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
  /agents:
    get:
      operationId: agentsList
      summary: List agents
      tags:
        - Agents
      description: Retrieves a paginated list of agents
      x-auth-permissions:
        - role: admin
          permission: all agents
        - role: participant
          permission: agents belonging to its participant
        - role: agent
          permission: itself only
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: pageSize
          in: query
          schema:
            type: integer
            default: 10
        - name: sort
          in: query
          schema:
            type: string
          description: 'Sort field. Prefix with ''+'' for ascending or ''-'' for descending. Default is ascending. Supported fields: name'
          example: +name
        - name: name
          in: query
          schema:
            type: array
            items:
              type: string
          description: Filter by agent name (can specify multiple values)
        - name: status
          in: query
          schema:
            type: array
            items:
              type: string
              enum:
                - New
                - Connected
                - Disconnected
                - Error
                - Disabled
          description: Filter by agent status (can specify multiple values)
        - name: providerId
          in: query
          schema:
            type: array
            items:
              $ref: '#/components/schemas/properties.UUID'
          description: Filter by provider ID (can specify multiple values)
        - name: agentTypeId
          in: query
          schema:
            type: array
            items:
              $ref: '#/components/schemas/properties.UUID'
          description: Filter by agent type ID (can specify multiple values)
      responses:
        '200':
          description: A paginated list of agents
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PageRes'
                  - type: object
                    properties:
                      items:
                        type: array
                        items:
                          $ref: '#/components/schemas/AgentRes'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      operationId: agentsCreate
      summary: Create an agent
      tags:
        - Agents
      description: Creates a new agent and returns the agent data with an authentication token
      x-auth-permissions:
        - role: admin
          permission: always
        - role: participant
          permission: for its participant (when acting as provider)
        - role: agent
          permission: not authorized
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAgentReq'
      responses:
        '201':
          description: Agent created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentCreateRes'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
  /agents/me:
    get:
      operationId: agentsGetCurrent
      summary: Get current agent
      tags:
        - Agents
      description: Retrieves information about the currently authenticated agent
      security:
        - BearerAuth: []
      responses:
        '200':
          description: The agent details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentRes'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
  /agents/me/status:
    put:
      operationId: agentsUpdateStatus
      summary: Update agent status
      tags:
        - Agents
      description: Updates the status of the authenticated agent
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - status
              properties:
                status:
                  $ref: '#/components/schemas/AgentStatus'
      responses:
        '200':
          description: Agent status updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentRes'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
  /agents/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/properties.UUID'
    get:
      operationId: agentsGet
      summary: Get an agent
      tags:
        - Agents
      description: Retrieves a specific agent by ID
      x-auth-permissions:
        - role: admin
          permission: all agents
        - role: participant
          permission: agents belonging to its participant
        - role: agent
          permission: itself only
      responses:
        '200':
          description: The agent details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentRes'
        '404':
          description: Agent not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
    patch:
      operationId: agentsUpdate
      summary: Update an agent
      tags:
        - Agents
      description: Updates an existing agent
      x-auth-permissions:
        - role: admin
          permission: always
        - role: participant
          permission: agents belonging to its participant
        - role: agent
          permission: update its own status only
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAgentReq'
      responses:
        '200':
          description: Agent updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentRes'
        '404':
          description: Agent not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
    delete:
      operationId: agentsDelete
      summary: Delete an agent
      tags:
        - Agents
      description: Deletes an agent by ID
      x-auth-permissions:
        - role: admin
          permission: always
        - role: participant
          permission: agents belonging to its participant
        - role: agent
          permission: not authorized
      responses:
        '204':
          description: Agent deleted successfully
        '404':
          description: Agent not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
  /agent-pools:
    get:
      operationId: agentPoolsList
      summary: List agent pools
      tags:
        - Agents
      description: Retrieves a paginated list of agent pools
      x-auth-permissions:
        - role: admin
          permission: all agent pools
        - role: agent
          permission: all agent pools (read-only)
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: pageSize
          in: query
          schema:
            type: integer
            default: 10
        - name: sort
          in: query
          schema:
            type: string
          description: 'Sort field. Prefix with ''+'' for ascending or ''-'' for descending. Default is ascending. Supported fields: name, type, createdAt'
          example: +name
        - name: name
          in: query
          schema:
            type: array
            items:
              type: string
          description: Filter by name (case-insensitive substring match, can specify multiple values)
        - name: type
          in: query
          schema:
            type: array
            items:
              type: string
          description: Filter by pool type (can specify multiple values)
        - name: generatorType
          in: query
          schema:
            type: array
            items:
              type: string
              enum:
                - list
          description: Filter by generator type (can specify multiple values)
      responses:
        '200':
          description: A paginated list of agent pools
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PageRes'
                  - type: object
                    properties:
                      items:
                        type: array
                        items:
                          $ref: '#/components/schemas/AgentPoolRes'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      operationId: agentPoolsCreate
      summary: Create an agent pool
      tags:
        - Agents
      description: Creates a new agent pool
      x-auth-permissions:
        - role: admin
          permission: always
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAgentPoolReq'
      responses:
        '201':
          description: Agent pool created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentPoolRes'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /agent-pools/{id}:
    get:
      operationId: agentPoolsGet
      summary: Get an agent pool by ID
      tags:
        - Agents
      description: Retrieves details of a specific agent pool
      x-auth-permissions:
        - role: admin
          permission: always
        - role: agent
          permission: read-only
      parameters:
        - name: id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/properties.UUID'
      responses:
        '200':
          description: Agent pool retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentPoolRes'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Agent pool not found
    patch:
      operationId: agentPoolsUpdate
      summary: Update an agent pool
      tags:
        - Agents
      description: Updates an existing agent pool
      x-auth-permissions:
        - role: admin
          permission: always
      parameters:
        - name: id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/properties.UUID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAgentPoolReq'
      responses:
        '200':
          description: Agent pool updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentPoolRes'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Agent pool not found
    delete:
      operationId: agentPoolsDelete
      summary: Delete an agent pool
      tags:
        - Agents
      description: Deletes an existing agent pool
      x-auth-permissions:
        - role: admin
          permission: always
      parameters:
        - name: id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/properties.UUID'
      responses:
        '204':
          description: Agent pool deleted successfully
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Agent pool not found
  /agent-pool-values:
    get:
      operationId: agentPoolValuesList
      summary: List agent pool values
      tags:
        - Agents
      description: Retrieves a paginated list of agent pool values
      x-auth-permissions:
        - role: admin
          permission: all agent pool values
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: pageSize
          in: query
          schema:
            type: integer
            default: 10
        - name: sort
          in: query
          schema:
            type: string
          description: 'Sort field. Prefix with ''+'' for ascending or ''-'' for descending. Default is ascending. Supported fields: name, createdAt'
          example: +name
        - name: name
          in: query
          schema:
            type: array
            items:
              type: string
          description: Filter by name (case-insensitive substring match, can specify multiple values)
        - name: agentPoolId
          in: query
          schema:
            type: array
            items:
              $ref: '#/components/schemas/properties.UUID'
          description: Filter by agent pool ID (can specify multiple values)
        - name: agentId
          in: query
          schema:
            type: array
            items:
              $ref: '#/components/schemas/properties.UUID'
          description: Filter by agent ID (can specify multiple values)
      responses:
        '200':
          description: A paginated list of agent pool values
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PageRes'
                  - type: object
                    properties:
                      items:
                        type: array
                        items:
                          $ref: '#/components/schemas/AgentPoolValueRes'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      operationId: agentPoolValuesCreate
      summary: Create an agent pool value
      tags:
        - Agents
      description: Creates a new agent pool value
      x-auth-permissions:
        - role: admin
          permission: always
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAgentPoolValueReq'
      responses:
        '201':
          description: Agent pool value created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentPoolValueRes'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /agent-pool-values/{id}:
    get:
      operationId: agentPoolValuesGet
      summary: Get an agent pool value by ID
      tags:
        - Agents
      description: Retrieves details of a specific agent pool value
      x-auth-permissions:
        - role: admin
          permission: always
      parameters:
        - name: id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/properties.UUID'
      responses:
        '200':
          description: Agent pool value retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentPoolValueRes'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Agent pool value not found
    delete:
      operationId: agentPoolValuesDelete
      summary: Delete an agent pool value
      tags:
        - Agents
      description: Deletes an existing agent pool value. Cannot delete a value that is currently allocated.
      x-auth-permissions:
        - role: admin
          permission: always
      parameters:
        - name: id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/properties.UUID'
      responses:
        '204':
          description: Agent pool value deleted successfully
        '400':
          description: Cannot delete allocated pool value
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Agent pool value not found
  /events:
    get:
      operationId: eventsList
      summary: List events
      tags:
        - Event
      description: Retrieves a paginated list of events
      x-auth-permissions:
        - role: admin
          permission: all events
        - role: participant
          permission: events related to its participant
        - role: agent
          permission: not authorized
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: pageSize
          in: query
          schema:
            type: integer
            default: 10
        - name: sort
          in: query
          schema:
            type: string
          description: 'Sort field. Prefix with ''+'' for ascending or ''-'' for descending. Default is ascending. Supported fields: createdAt, sequenceNumber'
          example: +createdAt
        - name: initiatorType
          in: query
          schema:
            type: array
            items:
              type: string
          description: Filter by initiator type (can specify multiple values)
        - name: initiatorId
          in: query
          schema:
            type: array
            items:
              $ref: '#/components/schemas/properties.UUID'
          description: Filter by initiator ID (can specify multiple values)
        - name: type
          in: query
          schema:
            type: array
            items:
              type: string
          description: Filter by event type (can specify multiple values)
      responses:
        '200':
          description: A paginated list of events
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PageRes'
                  - type: object
                    properties:
                      items:
                        type: array
                        items:
                          $ref: '#/components/schemas/EventRes'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /events/ack:
    post:
      operationId: eventsAck
      summary: Acknowledge processed events
      tags:
        - Event
      description: Acknowledge processed events and update progress (Option B - does not renew lease)
      x-auth-permissions:
        - role: admin
          permission: always
        - role: participant
          permission: not authorized
        - role: agent
          permission: not authorized
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventAckReq'
      responses:
        '200':
          description: Events acknowledged successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventAckRes'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          description: Acknowledgement conflict - lease not held or sequence regression
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /events/lease:
    post:
      operationId: eventsLease
      summary: Acquire event lease and fetch events
      tags:
        - Event
      description: Acquire or renew a lease for event processing and fetch events in chronological order
      x-auth-permissions:
        - role: admin
          permission: always
        - role: participant
          permission: not authorized
        - role: agent
          permission: not authorized
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventLeaseReq'
      responses:
        '200':
          description: Lease acquired successfully with events
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventLeaseRes'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          description: Lease conflict - held by another instance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /jobs:
    get:
      operationId: jobsList
      summary: List jobs
      tags:
        - Jobs
      description: Retrieves a paginated list of jobs (admin route)
      x-auth-permissions:
        - role: admin
          permission: all jobs
        - role: participant
          permission: jobs related to its participant (as provider via agents or as consumer via services)
        - role: agent
          permission: jobs assigned to the agent
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: pageSize
          in: query
          schema:
            type: integer
            default: 10
        - name: sort
          in: query
          schema:
            type: string
          description: 'Sort field. Prefix with ''+'' for ascending or ''-'' for descending. Default is ascending. Supported fields: priority, createdAt, claimedAt, completedAt'
          example: +priority
        - name: action
          in: query
          schema:
            type: array
            items:
              type: string
          description: Filter by job action (can specify multiple values)
        - name: status
          in: query
          schema:
            type: array
            items:
              type: string
              enum:
                - Pending
                - Processing
                - Completed
                - Failed
          description: Filter by job status (can specify multiple values)
        - name: agentId
          in: query
          schema:
            type: array
            items:
              $ref: '#/components/schemas/properties.UUID'
          description: Filter by agent ID (can specify multiple values)
        - name: serviceId
          in: query
          schema:
            type: array
            items:
              $ref: '#/components/schemas/properties.UUID'
          description: Filter by service ID (can specify multiple values)
      responses:
        '200':
          description: A paginated list of jobs
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PageRes'
                  - type: object
                    properties:
                      items:
                        type: array
                        items:
                          $ref: '#/components/schemas/JobRes'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /jobs/pending:
    get:
      operationId: jobsPending
      summary: Get pending jobs
      tags:
        - Jobs
      description: Retrieves a list of pending jobs for the authenticated agent
      security:
        - BearerAuth: []
      x-auth-permissions:
        - role: admin
          permission: not authorized
        - role: participant
          permission: not authorized
        - role: agent
          permission: pending jobs assigned to the agent
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 10
      responses:
        '200':
          description: List of pending jobs
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/JobRes'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
  /jobs/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/properties.UUID'
    get:
      operationId: jobsGet
      summary: Get a job
      tags:
        - Jobs
      description: Retrieves a specific job by ID (admin route)
      responses:
        '200':
          description: The job details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobRes'
        '404':
          description: Job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
  /jobs/{id}/claim:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/properties.UUID'
    post:
      operationId: jobsClaim
      summary: Claim a job
      tags:
        - Jobs
      description: Claims a job for processing by the authenticated agent
      security:
        - BearerAuth: []
      responses:
        '204':
          description: Job claimed successfully
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
        '404':
          description: Job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
  /jobs/{id}/complete:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/properties.UUID'
    post:
      operationId: jobsComplete
      summary: Complete a job
      tags:
        - Jobs
      description: Marks a job as completed with results
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompleteJobReq'
      responses:
        '204':
          description: Job completed successfully
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
        '404':
          description: Job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
  /jobs/{id}/fail:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/properties.UUID'
    post:
      operationId: jobsFail
      summary: Fail a job
      tags:
        - Jobs
      description: Marks a job as failed with an error message
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FailJobReq'
      responses:
        '204':
          description: Job marked as failed successfully
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
        '404':
          description: Job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
  /keycloak-users:
    get:
      operationId: keycloakUsersList
      summary: List keycloak users
      tags:
        - Keycloak Users
      description: Retrieves a paginated list of keycloak users
      x-auth-permissions:
        - role: admin
          permission: always
        - role: participant
          permission: not authorized
        - role: agent
          permission: not authorized
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: pageSize
          in: query
          schema:
            type: integer
            default: 10
        - name: email
          in: query
          schema:
            type: string
          description: Filter by email
        - name: firstName
          in: query
          schema:
            type: string
          description: Filter by first name
        - name: lastName
          in: query
          schema:
            type: string
          description: Filter by last name
      responses:
        '200':
          description: A paginated list of keycloak users
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PageRes'
                  - type: object
                    properties:
                      items:
                        type: array
                        items:
                          $ref: '#/components/schemas/KeycloakUserListItemRes'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      operationId: keycloakUsersCreate
      summary: Create a keycloak user
      tags:
        - Keycloak Users
      description: Creates a new keycloak user with role assignment
      x-auth-permissions:
        - role: admin
          permission: always
        - role: participant
          permission: not authorized
        - role: agent
          permission: not authorized
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateKeycloakUserReq'
      responses:
        '201':
          description: Keycloak user created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeycloakUserRes'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
  /keycloak-users/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          description: Keycloak user ID
    get:
      operationId: keycloakUsersGet
      summary: Get a keycloak user
      tags:
        - Keycloak Users
      description: Retrieves a specific keycloak user by ID
      x-auth-permissions:
        - role: admin
          permission: always
        - role: participant
          permission: not authorized
        - role: agent
          permission: not authorized
      responses:
        '200':
          description: The keycloak user details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeycloakUserRes'
        '404':
          description: Keycloak user not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
    patch:
      operationId: keycloakUsersUpdate
      summary: Update a keycloak user
      tags:
        - Keycloak Users
      description: Updates an existing keycloak user
      x-auth-permissions:
        - role: admin
          permission: always
        - role: participant
          permission: not authorized
        - role: agent
          permission: not authorized
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateKeycloakUserReq'
      responses:
        '200':
          description: Keycloak user updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeycloakUserRes'
        '404':
          description: Keycloak user not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
    delete:
      operationId: keycloakUsersDelete
      summary: Delete a keycloak user
      tags:
        - Keycloak Users
      description: Deletes a keycloak user by ID
      x-auth-permissions:
        - role: admin
          permission: always
        - role: participant
          permission: not authorized
        - role: agent
          permission: not authorized
      responses:
        '204':
          description: Keycloak user deleted successfully
        '404':
          description: Keycloak user not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
  /metric-entries:
    get:
      operationId: metricEntriesList
      summary: List metric entries
      tags:
        - Metrics
      description: Retrieves a paginated list of metric entries
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: pageSize
          in: query
          schema:
            type: integer
            default: 10
        - name: sort
          in: query
          schema:
            type: string
          description: 'Sort field. Prefix with ''+'' for ascending or ''-'' for descending. Default is ascending. Supported fields: createdAt, value'
          example: +createdAt
        - name: agentId
          in: query
          schema:
            type: array
            items:
              $ref: '#/components/schemas/properties.UUID'
          description: Filter by agent ID (can specify multiple values)
        - name: serviceId
          in: query
          schema:
            type: array
            items:
              $ref: '#/components/schemas/properties.UUID'
          description: Filter by service ID (can specify multiple values)
        - name: typeId
          in: query
          schema:
            type: array
            items:
              $ref: '#/components/schemas/properties.UUID'
          description: Filter by metric type ID (can specify multiple values)
        - name: resourceId
          in: query
          schema:
            type: array
            items:
              type: string
          description: Filter by resource ID (case-insensitive substring match, can specify multiple values)
      responses:
        '200':
          description: A paginated list of metric entries
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PageRes'
                  - type: object
                    properties:
                      items:
                        type: array
                        items:
                          $ref: '#/components/schemas/MetricEntryRes'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      operationId: metricEntriesCreate
      summary: Create a metric entry
      tags:
        - Metrics
      security:
        - BearerAuth: []
      description: Creates a new metric entry
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MetricEntryReq'
      responses:
        '201':
          description: Metric entry created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricEntryRes'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
  /metric-entries/resource-ids:
    get:
      operationId: metricEntriesListResourceIDs
      summary: List distinct resource IDs
      tags:
        - Metrics
      description: Returns a paginated list of distinct resource IDs from metric entries, filtered by service, type, and agent
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: pageSize
          in: query
          schema:
            type: integer
            default: 10
        - name: serviceId
          in: query
          schema:
            type: array
            items:
              $ref: '#/components/schemas/properties.UUID'
          description: Filter by service ID (can specify multiple values)
        - name: typeId
          in: query
          schema:
            type: array
            items:
              $ref: '#/components/schemas/properties.UUID'
          description: Filter by metric type ID (can specify multiple values)
        - name: agentId
          in: query
          schema:
            type: array
            items:
              $ref: '#/components/schemas/properties.UUID'
          description: Filter by agent ID (can specify multiple values)
        - name: resourceId
          in: query
          schema:
            type: array
            items:
              type: string
          description: Filter by resource ID (case-insensitive substring match, can specify multiple values)
      responses:
        '200':
          description: A paginated list of distinct resource IDs
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PageRes'
                  - type: object
                    properties:
                      items:
                        type: array
                        items:
                          type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /metric-entries/aggregate/{serviceId}/{resourceId}/{typeId}:
    get:
      operationId: metricEntriesAggregate
      summary: Aggregate metric entries
      tags:
        - Metrics
      description: Returns time-bucketed aggregated metric values for a specific service, resource, and metric type
      parameters:
        - name: serviceId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/properties.UUID'
          description: ID of the service
        - name: resourceId
          in: path
          required: true
          schema:
            type: string
          description: Resource identifier
        - name: typeId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/properties.UUID'
          description: ID of the metric type
        - name: aggregateType
          in: query
          schema:
            type: string
            enum:
              - min
              - max
              - sum
              - avg
            default: min
          description: Aggregation function to apply
        - name: bucket
          in: query
          schema:
            type: string
            enum:
              - minute
              - hour
              - day
              - month
            default: hour
          description: Time bucket size for aggregation
        - name: start
          in: query
          schema:
            type: string
            format: date-time
          description: Start of the time range (defaults based on bucket size)
        - name: end
          in: query
          schema:
            type: string
            format: date-time
          description: End of the time range (defaults to now)
      responses:
        '200':
          description: Aggregated metric data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AggregationResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /metric-types:
    get:
      operationId: metricTypesList
      summary: List metric types
      tags:
        - Metrics
      description: Retrieves a paginated list of metric types
      x-auth-permissions:
        - role: admin
          permission: all metric types
        - role: participant
          permission: all metric types
        - role: agent
          permission: all metric types
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: pageSize
          in: query
          schema:
            type: integer
            default: 10
        - name: sort
          in: query
          schema:
            type: string
          description: 'Sort field. Prefix with ''+'' for ascending or ''-'' for descending. Default is ascending. Supported fields: name, createdAt'
          example: +name
        - name: name
          in: query
          schema:
            type: array
            items:
              type: string
          description: Filter by name (case-insensitive contains, can specify multiple values)
      responses:
        '200':
          description: A paginated list of metric types
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PageRes'
                  - type: object
                    properties:
                      items:
                        type: array
                        items:
                          $ref: '#/components/schemas/MetricTypeRes'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      operationId: metricTypesCreate
      summary: Create a metric type
      tags:
        - Metrics
      description: Creates a new metric type
      x-auth-permissions:
        - role: admin
          permission: always
        - role: participant
          permission: not authorized
        - role: agent
          permission: not authorized
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MetricTypeReq'
      responses:
        '201':
          description: Metric type created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricTypeRes'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
  /metric-types/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/properties.UUID'
    get:
      operationId: metricTypesGet
      summary: Get a metric type
      tags:
        - Metrics
      description: Retrieves a specific metric type by ID
      x-auth-permissions:
        - role: admin
          permission: all metric types
        - role: participant
          permission: all metric types
        - role: agent
          permission: all metric types
      responses:
        '200':
          description: The metric type details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricTypeRes'
        '404':
          description: Metric type not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
    patch:
      operationId: metricTypesUpdate
      summary: Update a metric type
      tags:
        - Metrics
      description: Updates an existing metric type
      x-auth-permissions:
        - role: admin
          permission: always
        - role: participant
          permission: not authorized
        - role: agent
          permission: not authorized
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  example: cpu_usage_updated
      responses:
        '200':
          description: Metric type updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricTypeRes'
        '404':
          description: Metric type not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
    delete:
      operationId: metricTypesDelete
      summary: Delete a metric type
      tags:
        - Metrics
      description: Deletes a metric type by ID
      x-auth-permissions:
        - role: admin
          permission: always
        - role: participant
          permission: not authorized
        - role: agent
          permission: not authorized
      responses:
        '204':
          description: Metric type deleted successfully
        '404':
          description: Metric type not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
  /participants:
    get:
      operationId: participantsList
      summary: List participants
      tags:
        - Participants
      description: Retrieves a paginated list of participants
      x-auth-permissions:
        - role: admin
          permission: all participants
        - role: participant
          permission: only its own participant
        - role: agent
          permission: only its associated participant
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: pageSize
          in: query
          schema:
            type: integer
            default: 10
        - name: sort
          in: query
          schema:
            type: string
          description: 'Sort field. Prefix with ''+'' for ascending or ''-'' for descending. Default is ascending. Supported fields: name'
          example: +name
        - name: name
          in: query
          schema:
            type: array
            items:
              type: string
          description: Filter by participant name (can specify multiple values)
        - name: status
          in: query
          schema:
            type: array
            items:
              type: string
              enum:
                - Enabled
                - Disabled
          description: Filter by participant status (can specify multiple values)
      responses:
        '200':
          description: A paginated list of participants
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PageRes'
                  - type: object
                    properties:
                      items:
                        type: array
                        items:
                          $ref: '#/components/schemas/ParticipantRes'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      operationId: participantsCreate
      summary: Create a participant
      tags:
        - Participants
      description: Creates a new participant
      x-auth-permissions:
        - role: admin
          permission: always
        - role: participant
          permission: not authorized
        - role: agent
          permission: not authorized
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ParticipantReq'
      responses:
        '201':
          description: Participant created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ParticipantRes'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
  /participants/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/properties.UUID'
    get:
      operationId: participantsGet
      summary: Get a participant
      tags:
        - Participants
      description: Retrieves a specific participant by ID
      x-auth-permissions:
        - role: admin
          permission: all participants
        - role: participant
          permission: its own participant
        - role: agent
          permission: its associated participant
      responses:
        '200':
          description: The participant details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ParticipantRes'
        '404':
          description: Participant not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
    patch:
      operationId: participantsUpdate
      summary: Update a participant
      tags:
        - Participants
      description: Updates an existing participant
      x-auth-permissions:
        - role: admin
          permission: always
        - role: participant
          permission: its own participant
        - role: agent
          permission: not authorized
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ParticipantReq'
      responses:
        '200':
          description: Participant updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ParticipantRes'
        '404':
          description: Participant not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
    delete:
      operationId: participantsDelete
      summary: Delete a participant
      tags:
        - Participants
      description: Deletes a participant by ID
      x-auth-permissions:
        - role: admin
          permission: always
        - role: participant
          permission: not authorized
        - role: agent
          permission: not authorized
      responses:
        '204':
          description: Participant deleted successfully
        '404':
          description: Participant not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
  /service-groups:
    get:
      operationId: serviceGroupsList
      summary: List service groups
      tags:
        - Services
      description: Retrieves a paginated list of service groups
      x-auth-permissions:
        - role: admin
          permission: all service groups
        - role: participant
          permission: service groups belonging to its participant
        - role: agent
          permission: not authorized
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: pageSize
          in: query
          schema:
            type: integer
            default: 10
        - name: sort
          in: query
          schema:
            type: string
          description: 'Sort field. Prefix with ''+'' for ascending or ''-'' for descending. Default is ascending. Supported fields: name'
          example: +name
        - name: name
          in: query
          schema:
            type: array
            items:
              type: string
          description: Filter by service group name (can specify multiple values)
        - name: consumerId
          in: query
          schema:
            type: array
            items:
              type: string
              format: uuid
          description: Filter by consumer participant ID (can specify multiple values)
      responses:
        '200':
          description: A paginated list of service groups
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PageRes'
                  - type: object
                    properties:
                      items:
                        type: array
                        items:
                          $ref: '#/components/schemas/ServiceGroupRes'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      operationId: serviceGroupsCreate
      summary: Create a service group
      tags:
        - Services
      description: Creates a new service group
      x-auth-permissions:
        - role: admin
          permission: always
        - role: participant
          permission: for its participant
        - role: agent
          permission: not authorized
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateServiceGroupReq'
      responses:
        '201':
          description: Service group created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceGroupRes'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
  /service-groups/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/properties.UUID'
    get:
      operationId: serviceGroupsGet
      summary: Get a service group
      tags:
        - Services
      description: Retrieves a specific service group by ID
      x-auth-permissions:
        - role: admin
          permission: all service groups
        - role: participant
          permission: service groups belonging to its participant
        - role: agent
          permission: not authorized
      responses:
        '200':
          description: The service group details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceGroupRes'
        '404':
          description: Service group not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
    patch:
      operationId: serviceGroupsUpdate
      summary: Update a service group
      tags:
        - Services
      description: Updates an existing service group
      x-auth-permissions:
        - role: admin
          permission: always
        - role: participant
          permission: service groups belonging to its participant
        - role: agent
          permission: not authorized
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateServiceGroupReq'
      responses:
        '200':
          description: Service group updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceGroupRes'
        '404':
          description: Service group not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
    delete:
      operationId: serviceGroupsDelete
      summary: Delete a service group
      tags:
        - Services
      description: Deletes a service group by ID
      x-auth-permissions:
        - role: admin
          permission: always
        - role: participant
          permission: service groups belonging to its participant
        - role: agent
          permission: not authorized
      responses:
        '204':
          description: Service group deleted successfully
        '404':
          description: Service group not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
  /service-option-types:
    get:
      operationId: serviceOptionTypesList
      summary: List service option types
      tags:
        - Service Options
      description: Retrieves a paginated list of service option types
      x-auth-permissions:
        - role: admin
          permission: all service option types
        - role: participant
          permission: all service option types
        - role: agent
          permission: all service option types
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: pageSize
          in: query
          schema:
            type: integer
            default: 10
        - name: sort
          in: query
          schema:
            type: string
          description: 'Sort field. Prefix with ''+'' for ascending or ''-'' for descending. Default is ascending. Supported fields: name, type, createdAt'
          example: +name
        - name: name
          in: query
          schema:
            type: array
            items:
              type: string
          description: Filter by name (case-insensitive contains, can specify multiple values)
        - name: type
          in: query
          schema:
            type: array
            items:
              type: string
          description: Filter by type (can specify multiple values)
      responses:
        '200':
          description: A paginated list of service option types
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PageRes'
                  - type: object
                    properties:
                      items:
                        type: array
                        items:
                          $ref: '#/components/schemas/ServiceOptionTypeRes'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      operationId: serviceOptionTypesCreate
      summary: Create a service option type
      tags:
        - Service Options
      description: Creates a new service option type
      x-auth-permissions:
        - role: admin
          permission: always
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceOptionTypeReq'
      responses:
        '201':
          description: Service option type created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceOptionTypeRes'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /service-option-types/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/properties.UUID'
    get:
      operationId: serviceOptionTypesGet
      summary: Get a service option type
      tags:
        - Service Options
      description: Retrieves a specific service option type by ID
      x-auth-permissions:
        - role: admin
          permission: all service option types
        - role: participant
          permission: all service option types
        - role: agent
          permission: all service option types
      responses:
        '200':
          description: Service option type details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceOptionTypeRes'
        '404':
          description: Service option type not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
    patch:
      operationId: serviceOptionTypesUpdate
      summary: Update a service option type
      tags:
        - Service Options
      description: Updates an existing service option type
      x-auth-permissions:
        - role: admin
          permission: always
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateServiceOptionTypeReq'
      responses:
        '200':
          description: Service option type updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceOptionTypeRes'
        '404':
          description: Service option type not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
    delete:
      operationId: serviceOptionTypesDelete
      summary: Delete a service option type
      tags:
        - Service Options
      description: Deletes a service option type by ID
      x-auth-permissions:
        - role: admin
          permission: always
      responses:
        '204':
          description: Service option type deleted successfully
        '404':
          description: Service option type not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
  /service-options:
    get:
      operationId: serviceOptionsList
      summary: List service options
      tags:
        - Service Options
      description: Retrieves a paginated list of service options
      x-auth-permissions:
        - role: admin
          permission: all service options
        - role: participant
          permission: service options for its provider
        - role: agent
          permission: service options for its provider
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: pageSize
          in: query
          schema:
            type: integer
            default: 10
        - name: sort
          in: query
          schema:
            type: string
          description: 'Sort field. Prefix with ''+'' for ascending or ''-'' for descending. Default is ascending. Supported fields: name, displayOrder'
          example: +name
        - name: name
          in: query
          schema:
            type: array
            items:
              type: string
          description: Filter by name (case-insensitive contains, can specify multiple values)
        - name: providerId
          in: query
          schema:
            type: array
            items:
              $ref: '#/components/schemas/properties.UUID'
          description: Filter by provider ID (can specify multiple values)
        - name: serviceOptionTypeId
          in: query
          schema:
            type: array
            items:
              $ref: '#/components/schemas/properties.UUID'
          description: Filter by service option type ID (can specify multiple values)
        - name: enabled
          in: query
          schema:
            type: array
            items:
              type: boolean
          description: Filter by enabled status (can specify multiple values)
      responses:
        '200':
          description: A paginated list of service options
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PageRes'
                  - type: object
                    properties:
                      items:
                        type: array
                        items:
                          $ref: '#/components/schemas/ServiceOptionRes'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      operationId: serviceOptionsCreate
      summary: Create a service option
      tags:
        - Service Options
      description: Creates a new service option
      x-auth-permissions:
        - role: admin
          permission: always
        - role: participant
          permission: for its participant as provider
        - role: agent
          permission: for its participant as provider
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceOptionReq'
      responses:
        '201':
          description: Service option created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceOptionRes'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /service-options/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/properties.UUID'
    get:
      operationId: serviceOptionsGet
      summary: Get a service option
      tags:
        - Service Options
      description: Retrieves a specific service option by ID
      x-auth-permissions:
        - role: admin
          permission: all service options
        - role: participant
          permission: service options for its provider
        - role: agent
          permission: service options for its provider
      responses:
        '200':
          description: Service option details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceOptionRes'
        '404':
          description: Service option not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
    patch:
      operationId: serviceOptionsUpdate
      summary: Update a service option
      tags:
        - Service Options
      description: Updates an existing service option
      x-auth-permissions:
        - role: admin
          permission: always
        - role: participant
          permission: for its participant as provider
        - role: agent
          permission: for its participant as provider
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceOptionUpdateReq'
      responses:
        '200':
          description: Service option updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceOptionRes'
        '404':
          description: Service option not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
    delete:
      operationId: serviceOptionsDelete
      summary: Delete a service option
      tags:
        - Service Options
      description: Deletes a service option by ID
      x-auth-permissions:
        - role: admin
          permission: always
        - role: participant
          permission: for its participant as provider
        - role: agent
          permission: for its participant as provider
      responses:
        '204':
          description: Service option deleted successfully
        '404':
          description: Service option not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
  /service-pool-sets:
    get:
      operationId: servicePoolSetsList
      summary: List service pool sets
      tags:
        - Services
      description: Retrieves a paginated list of service pool sets
      x-auth-permissions:
        - role: admin
          permission: all service pool sets
        - role: participant
          permission: service pool sets for its provider
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: pageSize
          in: query
          schema:
            type: integer
            default: 10
        - name: sort
          in: query
          schema:
            type: string
          description: 'Sort field. Prefix with ''+'' for ascending or ''-'' for descending. Default is ascending. Supported fields: name, createdAt'
          example: +name
        - name: providerId
          in: query
          schema:
            type: array
            items:
              $ref: '#/components/schemas/properties.UUID'
          description: Filter by provider ID (can specify multiple values)
        - name: name
          in: query
          schema:
            type: array
            items:
              type: string
          description: Filter by name (can specify multiple values)
      responses:
        '200':
          description: A paginated list of service pool sets
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PageRes'
                  - type: object
                    properties:
                      items:
                        type: array
                        items:
                          $ref: '#/components/schemas/ServicePoolSetRes'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      operationId: servicePoolSetsCreate
      summary: Create a service pool set
      tags:
        - Services
      description: Creates a new service pool set
      x-auth-permissions:
        - role: admin
          permission: always
        - role: participant
          permission: for its participant as provider
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateServicePoolSetReq'
      responses:
        '201':
          description: Service pool set created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServicePoolSetRes'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /service-pool-sets/{id}:
    get:
      operationId: servicePoolSetsGet
      summary: Get a service pool set by ID
      tags:
        - Services
      description: Retrieves details of a specific service pool set
      x-auth-permissions:
        - role: admin
          permission: always
        - role: participant
          permission: if owned by participant as provider
      parameters:
        - name: id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/properties.UUID'
      responses:
        '200':
          description: Service pool set retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServicePoolSetRes'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Service pool set not found
    patch:
      operationId: servicePoolSetsUpdate
      summary: Update a service pool set
      tags:
        - Services
      description: Updates an existing service pool set
      x-auth-permissions:
        - role: admin
          permission: always
        - role: participant
          permission: if owned by participant as provider
      parameters:
        - name: id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/properties.UUID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateServicePoolSetReq'
      responses:
        '200':
          description: Service pool set updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServicePoolSetRes'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Service pool set not found
    delete:
      operationId: servicePoolSetsDelete
      summary: Delete a service pool set
      tags:
        - Services
      description: Deletes an existing service pool set
      x-auth-permissions:
        - role: admin
          permission: always
        - role: participant
          permission: if owned by participant as provider
      parameters:
        - name: id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/properties.UUID'
      responses:
        '204':
          description: Service pool set deleted successfully
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Service pool set not found
  /service-pools:
    get:
      operationId: servicePoolsList
      summary: List service pools
      tags:
        - Services
      description: Retrieves a paginated list of service pools
      x-auth-permissions:
        - role: admin
          permission: all service pools
        - role: participant
          permission: service pools for its provider
        - role: agent
          permission: service pools for its provider (read-only)
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: pageSize
          in: query
          schema:
            type: integer
            default: 10
        - name: sort
          in: query
          schema:
            type: string
          description: 'Sort field. Prefix with ''+'' for ascending or ''-'' for descending. Default is ascending. Supported fields: name, type, createdAt'
          example: +name
        - name: name
          in: query
          schema:
            type: array
            items:
              type: string
          description: Filter by name (case-insensitive substring match, can specify multiple values)
        - name: servicePoolSetId
          in: query
          schema:
            type: array
            items:
              $ref: '#/components/schemas/properties.UUID'
          description: Filter by service pool set ID (can specify multiple values)
        - name: type
          in: query
          schema:
            type: array
            items:
              type: string
          description: Filter by pool type (can specify multiple values)
        - name: generatorType
          in: query
          schema:
            type: array
            items:
              type: string
              enum:
                - list
                - subnet
          description: Filter by generator type (can specify multiple values)
      responses:
        '200':
          description: A paginated list of service pools
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PageRes'
                  - type: object
                    properties:
                      items:
                        type: array
                        items:
                          $ref: '#/components/schemas/ServicePoolRes'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      operationId: servicePoolsCreate
      summary: Create a service pool
      tags:
        - Services
      description: Creates a new service pool
      x-auth-permissions:
        - role: admin
          permission: always
        - role: participant
          permission: for its participant as provider
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateServicePoolReq'
      responses:
        '201':
          description: Service pool created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServicePoolRes'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /service-pools/{id}:
    get:
      operationId: servicePoolsGet
      summary: Get a service pool by ID
      tags:
        - Services
      description: Retrieves details of a specific service pool
      x-auth-permissions:
        - role: admin
          permission: always
        - role: participant
          permission: if owned by participant as provider
        - role: agent
          permission: if owned by participant as provider (read-only)
      parameters:
        - name: id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/properties.UUID'
      responses:
        '200':
          description: Service pool retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServicePoolRes'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Service pool not found
    patch:
      operationId: servicePoolsUpdate
      summary: Update a service pool
      tags:
        - Services
      description: Updates an existing service pool
      x-auth-permissions:
        - role: admin
          permission: always
        - role: participant
          permission: if owned by participant as provider
      parameters:
        - name: id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/properties.UUID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateServicePoolReq'
      responses:
        '200':
          description: Service pool updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServicePoolRes'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Service pool not found
    delete:
      operationId: servicePoolsDelete
      summary: Delete a service pool
      tags:
        - Services
      description: Deletes an existing service pool
      x-auth-permissions:
        - role: admin
          permission: always
        - role: participant
          permission: if owned by participant as provider
      parameters:
        - name: id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/properties.UUID'
      responses:
        '204':
          description: Service pool deleted successfully
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Service pool not found
  /service-pool-values:
    get:
      operationId: servicePoolValuesList
      summary: List service pool values
      tags:
        - Services
      description: Retrieves a paginated list of service pool values with allocation status
      x-auth-permissions:
        - role: admin
          permission: all service pool values
        - role: participant
          permission: service pool values for its provider
        - role: agent
          permission: service pool values for its provider (read-only)
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: pageSize
          in: query
          schema:
            type: integer
            default: 10
        - name: sort
          in: query
          schema:
            type: string
          description: 'Sort field. Prefix with ''+'' for ascending or ''-'' for descending. Default is ascending. Supported fields: name, createdAt'
          example: +name
        - name: name
          in: query
          schema:
            type: array
            items:
              type: string
          description: Filter by name (case-insensitive substring match, can specify multiple values)
        - name: servicePoolId
          in: query
          schema:
            type: array
            items:
              $ref: '#/components/schemas/properties.UUID'
          description: Filter by service pool ID (can specify multiple values)
        - name: serviceId
          in: query
          schema:
            type: array
            items:
              $ref: '#/components/schemas/properties.UUID'
          description: Filter by allocated service ID (can specify multiple values)
      responses:
        '200':
          description: A paginated list of service pool values
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PageRes'
                  - type: object
                    properties:
                      items:
                        type: array
                        items:
                          $ref: '#/components/schemas/ServicePoolValueRes'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      operationId: servicePoolValuesCreate
      summary: Create a service pool value
      tags:
        - Services
      description: Creates a new service pool value (for list generators only)
      x-auth-permissions:
        - role: admin
          permission: always
        - role: participant
          permission: for its participant as provider
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateServicePoolValueReq'
      responses:
        '201':
          description: Service pool value created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServicePoolValueRes'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /service-pool-values/{id}:
    get:
      operationId: servicePoolValuesGet
      summary: Get a service pool value by ID
      tags:
        - Services
      description: Retrieves details of a specific service pool value including allocation status
      x-auth-permissions:
        - role: admin
          permission: always
        - role: participant
          permission: if owned by participant as provider
        - role: agent
          permission: if owned by participant as provider (read-only)
      parameters:
        - name: id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/properties.UUID'
      responses:
        '200':
          description: Service pool value retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServicePoolValueRes'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Service pool value not found
    delete:
      operationId: servicePoolValuesDelete
      summary: Delete a service pool value
      tags:
        - Services
      description: Deletes an existing service pool value (only if not allocated)
      x-auth-permissions:
        - role: admin
          permission: always
        - role: participant
          permission: if owned by participant as provider
      parameters:
        - name: id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/properties.UUID'
      responses:
        '204':
          description: Service pool value deleted successfully
        '400':
          description: Cannot delete allocated value
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Service pool value not found
  /service-types:
    get:
      operationId: serviceTypesList
      summary: List service types
      tags:
        - Services
      description: Retrieves a paginated list of service types
      x-auth-permissions:
        - role: admin
          permission: all service types
        - role: participant
          permission: all service types
        - role: agent
          permission: all service types
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: pageSize
          in: query
          schema:
            type: integer
            default: 10
        - name: sort
          in: query
          schema:
            type: string
          description: 'Sort field. Prefix with ''+'' for ascending or ''-'' for descending. Default is ascending. Supported fields: name'
          example: +name
        - name: name
          in: query
          schema:
            type: array
            items:
              type: string
          description: Filter by service type name (can specify multiple values)
      responses:
        '200':
          description: A paginated list of service types
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PageRes'
                  - type: object
                    properties:
                      items:
                        type: array
                        items:
                          $ref: '#/components/schemas/ServiceTypeRes'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      operationId: serviceTypesCreate
      summary: Create a service type
      tags:
        - Services
      description: Creates a new service type with optional property schema
      x-auth-permissions:
        - role: admin
          permission: all service types
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateServiceTypeReq'
      responses:
        '201':
          description: Service type created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceTypeRes'
        '400':
          description: Invalid request body or validation errors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
        '403':
          description: Insufficient permissions (admin required)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
        '409':
          description: Service type with this name already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
  /service-types/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/properties.UUID'
    get:
      operationId: serviceTypesGet
      summary: Get a service type
      tags:
        - Services
      description: Retrieves a specific service type by ID
      x-auth-permissions:
        - role: admin
          permission: all service types
        - role: participant
          permission: all service types
        - role: agent
          permission: all service types
      responses:
        '200':
          description: The service type details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceTypeRes'
        '404':
          description: Service type not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
    patch:
      operationId: serviceTypesUpdate
      summary: Update a service type
[...]
